body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  color: #333;
}

.form textarea {
  height: 150px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form button {
  background-color: #0062cc;
  color: #fff;
  border: none;
  padding: 0.578rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin: 0 auto;
  margin-top: 20px;
}

.form button:hover {
  background-color: #034b97;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #008cba;
  color: #fff;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
  transition: 0.3s all ease-in-out;
}

.table tr:hover {
  background-color: #f5f5f5;
}
